.AppIndex {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  text-align: center;
  height: 100%;
  display: inline-block;
  width: 256px;
  height: 256px;
  background-color: #343841;
  margin: 8px;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

h4 {
  margin-top: 8px;
}